SOAP/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/zoo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/zoo"
             name="ZooService">

    <types>
        <xsd:schema targetNamespace="http://example.com/zoo">
            <!-- Elementos para zoológicos -->
            <xsd:element name="AddZooRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="location" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="city" type="xsd:string"/>
                        <xsd:element name="foundation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AddZooResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DeleteZooRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DeleteZooResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateZooRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="location" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="city" type="xsd:string"/>
                        <xsd:element name="foundation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateZooResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetZooByIdRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetZooByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="zoo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ListAllZoosRequest"/>
            <xsd:element name="ListAllZoosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="zoos" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Elementos para animales -->
            <xsd:element name="AddAnimalRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="species" type="xsd:string"/>
                        <xsd:element name="zooid" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="scientific_name" type="xsd:string"/>
                        <xsd:element name="habitat" type="xsd:string"/>
                        <xsd:element name="diet" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AddAnimalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DeleteAnimalRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DeleteAnimalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateAnimalRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="species" type="xsd:string"/>
                        <xsd:element name="zooid" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="scientific_name" type="xsd:string"/>
                        <xsd:element name="habitat" type="xsd:string"/>
                        <xsd:element name="diet" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateAnimalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetAnimalByIdRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetAnimalByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="animal" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ListAllAnimalsRequest"/>
            <xsd:element name="ListAllAnimalsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="animals" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="AddZooRequestMessage">
        <part name="parameters" element="tns:AddZooRequest"/>
    </message>
    <message name="AddZooResponseMessage">
        <part name="parameters" element="tns:AddZooResponse"/>
    </message>
    <message name="DeleteZooRequestMessage">
        <part name="parameters" element="tns:DeleteZooRequest"/>
    </message>
    <message name="DeleteZooResponseMessage">
        <part name="parameters" element="tns:DeleteZooResponse"/>
    </message>
    <message name="UpdateZooRequestMessage">
        <part name="parameters" element="tns:UpdateZooRequest"/>
    </message>
    <message name="UpdateZooResponseMessage">
        <part name="parameters" element="tns:UpdateZooResponse"/>
    </message>
    <message name="GetZooByIdRequestMessage">
        <part name="parameters" element="tns:GetZooByIdRequest"/>
    </message>
    <message name="GetZooByIdResponseMessage">
        <part name="parameters" element="tns:GetZooByIdResponse"/>
    </message>
    <message name="ListAllZoosRequestMessage">
        <part name="parameters" element="tns:ListAllZoosRequest"/>
    </message>
    <message name="ListAllZoosResponseMessage">
        <part name="parameters" element="tns:ListAllZoosResponse"/>
    </message>

    <message name="AddAnimalRequestMessage">
        <part name="parameters" element="tns:AddAnimalRequest"/>
    </message>
    <message name="AddAnimalResponseMessage">
        <part name="parameters" element="tns:AddAnimalResponse"/>
    </message>
    <message name="DeleteAnimalRequestMessage">
        <part name="parameters" element="tns:DeleteAnimalRequest"/>
    </message>
    <message name="DeleteAnimalResponseMessage">
        <part name="parameters" element="tns:DeleteAnimalResponse"/>
    </message>
    <message name="UpdateAnimalRequestMessage">
        <part name="parameters" element="tns:UpdateAnimalRequest"/>
    </message>
    <message name="UpdateAnimalResponseMessage">
        <part name="parameters" element="tns:UpdateAnimalResponse"/>
    </message>
    <message name="GetAnimalByIdRequestMessage">
        <part name="parameters" element="tns:GetAnimalByIdRequest"/>
    </message>
    <message name="GetAnimalByIdResponseMessage">
        <part name="parameters" element="tns:GetAnimalByIdResponse"/>
    </message>
    <message name="ListAllAnimalsRequestMessage">
        <part name="parameters" element="tns:ListAllAnimalsRequest"/>
    </message>
    <message name="ListAllAnimalsResponseMessage">
        <part name="parameters" element="tns:ListAllAnimalsResponse"/>
    </message>

    <portType name="ZooPortType">
        <operation name="AddZoo">
            <input message="tns:AddZooRequestMessage"/>
            <output message="tns:AddZooResponseMessage"/>
        </operation>
        <operation name="DeleteZoo">
            <input message="tns:DeleteZooRequestMessage"/>
            <output message="tns:DeleteZooResponseMessage"/>
        </operation>
        <operation name="UpdateZoo">
            <input message="tns:UpdateZooRequestMessage"/>
            <output message="tns:UpdateZooResponseMessage"/>
        </operation>
        <operation name="GetZooById">
            <input message="tns:GetZooByIdRequestMessage"/>
            <output message="tns:GetZooByIdResponseMessage"/>
        </operation>
        <operation name="ListAllZoos">
            <input message="tns:ListAllZoosRequestMessage"/>
            <output message="tns:ListAllZoosResponseMessage"/>
        </operation>

        <operation name="AddAnimal">
            <input message="tns:AddAnimalRequestMessage"/>
            <output message="tns:AddAnimalResponseMessage"/>
        </operation>
        <operation name="DeleteAnimal">
            <input message="tns:DeleteAnimalRequestMessage"/>
            <output message="tns:DeleteAnimalResponseMessage"/>
        </operation>
        <operation name="UpdateAnimal">
            <input message="tns:UpdateAnimalRequestMessage"/>
            <output message="tns:UpdateAnimalResponseMessage"/>
        </operation>
        <operation name="GetAnimalById">
            <input message="tns:GetAnimalByIdRequestMessage"/>
            <output message="tns:GetAnimalByIdResponseMessage"/>
        </operation>
        <operation name="ListAllAnimals">
            <input message="tns:ListAllAnimalsRequestMessage"/>
            <output message="tns:ListAllAnimalsResponseMessage"/>
        </operation>
    </portType>

    <binding name="ZooBinding" type="tns:ZooPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddZoo">
            <soap:operation soapAction="AddZoo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteZoo">
            <soap:operation soapAction="DeleteZoo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateZoo">
            <soap:operation soapAction="UpdateZoo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetZooById">
            <soap:operation soapAction="GetZooById"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ListAllZoos">
            <soap:operation soapAction="ListAllZoos"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="AddAnimal">
            <soap:operation soapAction="AddAnimal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteAnimal">
            <soap:operation soapAction="DeleteAnimal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateAnimal">
            <soap:operation soapAction="UpdateAnimal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAnimalById">
            <soap:operation soapAction="GetAnimalById"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ListAllAnimals">
            <soap:operation soapAction="ListAllAnimals"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ZooService">
        <port name="ZooPort" binding="tns:ZooBinding">
            <soap:address location="http://localhost:5000/soap"/>
        </port>
    </service>
</definitions>
